footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-inline: auto;
}

footer > small {
    max-width: 400px;
    font-size: 12px;
    text-align: center;
    color: #888;
}