main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
}


main button {
    all: unset;
    width: 100px;
    height: 20px;
    font-size: 14px;
    background: transparent;
    border: none;
    position: relative;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

main button::after,
main button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

main button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #222;
  border-radius: 8px;
}

main button::after {
  transform: translate(2.5px, 2.5px);
  width: 10px;
  height: 10px;
  background: var(--theme);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

main button:hover::before {
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

main button:hover::after {
  border-radius: 8px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

main button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

main button:hover,
main button:hover svg {
    color: #222;
}

main button svg {
    width: 16px;
    height: auto;
    color: var(--theme);
}

main button.loading > svg {
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

main > form,
main > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

main > form > textarea {
    width: 100%;
    padding: 15px;
    height: 100px;
    resize: none;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #222;
}

main > form > span {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--theme);
    background-color: #222;
}