main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
    overflow: visible;
}

main button {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #222;
}

main > form,
main > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main > form > textarea {
    width: 100%;
    padding: 15px;
    height: 100px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

main > form > span {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: red;
    background-color: #eee;
}