main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
}

main button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
}

main button svg {
    width: 16px;
    height: auto;
    color: var(--theme);
}

main button > svg.loading {
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

main > form,
main > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
}

main > form > textarea {
    width: 100%;
    padding: 15px;
    height: 100px;
    resize: none;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #00ffcc;
    background-color: rgba(0, 0, 0, 0.5);
}

main > form > span {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--theme);
    background-color: #222;
}

@media (max-width: 768px) {
    main button svg { width: 14px; }
    main button,
    main > form > textarea,
    main > form > span { font-size: 12px; }
}