div.grid  {
    display: grid;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 15px auto;
}

div.grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background-color: #ddd;
}

div.grid > div > svg {
    width: 50px;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    background-color: #303030;
}

div.grid > div > h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #303030;
}

div.grid > div > p {
    font-size: 14px;
    text-align: center;
    color: #303030;
}

@media (max-width: 768px) {
    div.grid { grid-template-columns: repeat(2, 1fr) !important; }
    div.grid > div:last-child { grid-column: span 2; }
}