div.grid  {
    display: grid;
    gap: 70px;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
}

div.grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

div.grid > div > svg {
    width: 50px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    color: #000;
    background-color: var(--theme);
}

div.grid > div > h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #303030;
}

div.grid > div > p {
    font-size: 14px;
    text-align: center;
    color: #303030;
}

@media (max-width: 768px) {
    div.grid { gap: 0; }
    div.grid > div { padding: 15px 10px; }
    div.grid > div > svg { width: 50px; }
    div.grid > div > h3 { font-size: 14px; }
    div.grid > div > p { font-size: 12px; }
}