div.grid  {
    display: grid;
    gap: 70px;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
}

div.grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
}

div.grid > div > svg {
    width: 50px;
    height: auto;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 204, 0.4);
    color: #00ffcc;
    background-color: rgba(0, 255, 204, 0.05);
    box-shadow: 
        0 0 5px rgba(0, 255, 204, 0.2),
        inset 0 0 5px rgba(0, 255, 204, 0.2);
}

div.grid > div > h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

div.grid > div > p {
    font-size: 14px;
    text-align: center;
    color: #999;
}

@media (max-width: 768px) {
    div.grid { gap: 0; }
    div.grid > div { padding: 15px 10px; }
    div.grid > div > svg { width: 50px; }
    div.grid > div > h3 { font-size: 14px; }
    div.grid > div > p { font-size: 12px; }
}